@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <partial name="~/Views/Shared/Components/_AllDepartment.cshtml" />
            </div>
            <div class="col-lg-9">
                <partial name="~/Views/Shared/Components/_SearchForm.cshtml" />
                <div class="hero__item set-bg home-page" >
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="categories">
    <div class="container">
        <div class="row">
            <partial name="~/Views/Home/_CategoriesSlider.cshtml" model="@Model.Categories" />
        </div>
    </div>
</section>
<partial name="~/Views/Home/Product/_FeaturedProduct.cshtml" model="@Model.Products" />
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <partial name="~/Views/Shared/Components/_SlidebarLastestProducts.cshtml" />
            </div>
            <div class="col-lg-4 col-md-6">
                <partial name="~/Views/Shared/Components/_SlidebarTopRatedProducts.cshtml" />
            </div>
            <div class="col-lg-4 col-md-6">
                <partial name="~/Views/Shared/Components/_SlidebarReviewProducts.cshtml" />
            </div>
        </div>
    </div>
</section>
<partial name="~/Views/Home/Blog/_FromTheBlog.cshtml"/>
