<div class="product__discount">
    <div class="section-title product__discount__title">
        <h2>Sale Off</h2>
    </div>
    <div class="row">
        <div class="product__discount__slider owl-carousel">
            @foreach (var item in Model.Products)
            {
                <div class="col-lg-4">
                    <partial name="~/Views/Product/_ProductDiscountItem.cshtml" model="@item" />
                </div>
            }
        </div>
    </div>
</div>