@model ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <partial name="~/Views/Shared/Components/_AllDepartment.cshtml" />
            </div>
            <div class="col-lg-9">
                <partial name="~/Views/Shared/Components/_SearchForm.cshtml" />
            </div>
        </div>
    </div>
</section>
<section class="breadcrumb-section set-bg other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="home" asp-action="index">Home</a>
                        <span>Product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <partial name="~/Views/Shared/Components/_SlidebarLastestProducts.cshtml" />
                </div>
            </div>
            <partial name="~/Views/Product/_ProductsPagination.cshtml" model="@Model.Paged" />

        </div>
    </div>
</section>
