@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <partial name="~/Views/Shared/Components/_AllDepartment.cshtml" />
            </div>
            <div class="col-lg-9">
                <partial name="~/Views/Shared/Components/_SearchForm.cshtml" />
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="home" asp-action="index">Home</a>
                        <span>Product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul >
                            @foreach (var item in Model.Products)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <partial name="~/Views/Shared/Components/_SlidebarLastestProducts.cshtml" />
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <partial name="~/Views/Shared/Components/_ProductItem.cshtml" model="@item" />   
                    </div>
                    }
                </div>
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
