@model ProductDto

<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
    <div class="featured__item">
        <div class="featured__item__pic set-bg">
            <img src="~/img/featured/feature-2.jpg">
            <partial name="~/Views/Shared/Components/_IconHover.cshtml" />
        </div>
        <div class="featured__item__text">
            <h6><a href="#">@Model.Name</a></h6>
            <h5>@Model.Price</h5>
        </div>
    </div>
</div>

