@model ProductDto
<div class="product__item">
    <div class="product__item__pic set-bg" data-setbg="../img/product/product-7.jpg" style="background-image: url(&quot;../img/product/product-7.jpg&quot;);">
        <ul class="product__item__pic__hover">
            <li><a href="#"><i class="fa fa-heart"></i></a></li>
            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="product__item__text">
        <h6><a asp-controller="product" asp-action="details" asp-route-id="@Model.Id">@Model.Name</a></h6>
        <h5>@Model.Price</h5>
    </div>
</div>